<div class="card">
    <div class="card-header d-flex justify-content-lg-between">
        <h5>Registro Persona</h5>
        <button type="button" class="btn btn-primary" onclick="cargarFormularioPersona()" data-bs-toggle="modal"
            data-bs-target="#modalFormularioPersona">
            <i class="fa-solid fa-user-plus"></i> Agregar Persona
        </button>
    </div>

    <div class="card-datatable table-responsive pt-0">
        <table class="table table-hover" id="data-table-persona">
            <thead>
                <tr>
                    <th>#</th>
                    <th>CI</th>
                    <th>Nombre Completo</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody class="animate__animated animate__bounceInDown">
                <tr th:each="per, idx : ${listasPersonas}" th:if="${per.estado != 'X'}">
                    <td th:text="${idx.index + 1}">1</td>
                    <td th:text="${per.ci}">CI</td>
                    <td th:text="${per.nombres} + ' ' + ${per.paterno} + ' ' + ${per.materno}">Nombre</td>
                    <td>
                        <!-- EDITAR -->
                        <button type="button" class="btn btn-sm btn-primary btn-editar-persona"
                            th:attr="data-id=${per.id_persona}" data-bs-toggle="modal"
                            data-bs-target="#modalFormularioPersona">
                            <i class="fa-solid fa-pen-to-square"></i> Editar
                        </button>

                        <!-- ELIMINAR -->
                        <button type="button" class="btn btn-sm btn-danger btn-eliminar-persona"
                            th:attr="data-id=${per.id_persona}, data-nombre=${per.nombres + ' ' + per.paterno}">
                            <i class="fa-solid fa-trash"></i> Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#data-table-persona').DataTable({
        language: {
            sProcessing: "Procesando...",
            sLengthMenu: "Mostrar _MENU_ registros",
            sZeroRecords: "No se encontraron resultados",
            sInfo: "Mostrando _START_ a _END_ de _TOTAL_",
            sInfoEmpty: "Mostrando 0 a 0 de 0",
            sInfoFiltered: "(filtrado de _MAX_ registros)",
            sSearch: "Buscar:",
            oPaginate: { sFirst: "Primero", sLast: "Último", sNext: "Siguiente", sPrevious: "Anterior" },
            oAria: { sSortAscending: ": Orden ascendente", sSortDescending: ": Orden descendente" }
        }
    });
</script>