<!-- ========== Left Sidebar Start ========== -->
<div th:fragment="sidebar" class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
        <i class="ion-close"></i>
    </button>

    <div class="left-side-logo d-block d-lg-none">
        <div class="text-center">

            <a href="index.html" class="logo"><img src="../../../../assets/images/logo-dark.png" height="20" alt="logo"></a>
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">

        <div id="sidebar-menu">
            <ul>
          
                <!--
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i>
                        <span>Identificación</span> <span class="menu-arrow float-right"><i
                                class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="ui-alerts.html">Administrar Identificación</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i>
                        <span> Objetivos </span> <span class="menu-arrow float-right"><i
                                class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="ui-alerts.html">Administrar Objetivo</a></li>
                        <li><a href="ui-buttons.html">Administrar Actividad</a></li>
                        <li><a href="ui-badge.html">Administrar Continuos</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i>
                        <span> Supervición</span> <span class="menu-arrow float-right"><i
                                class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a >Administrar supervisión</a></li>
                    </ul>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i>
                        <span> Reporte POAI</span> <span class="menu-arrow float-right"><i
                                class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="ui-alerts.html">Reporte Unidad</a></li>
                    </ul>
                </li>
                -->
                <li class="has_sub" >
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-user"></i>
                        <span> Personas </span> <span class="menu-arrow float-right"><i
                                class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/PersonasL">Personas</a></li>
                        <li><a href="/DocenteR">Docentes</a></li>
                        <li><a href="/JuradoR">Jurados</a></li>
                        <li><a href="/EstudianteR">Estudiantes</a></li>
          
          
                     
                    </ul>
                </li>
                <!--
                <li class="has_sub" >
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-user"></i>
                        <span> Personal </span> <span class="menu-arrow float-right"><i
                                class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="list-unstyled">
                        <li><a href="/PersonalAdmL">Personal Administrativo</a></li>
                        <li><a href="/PoaiSupervisorR">Supervisor</a></li>
                        <li><a href="/CargoR">Cargo</a></li>
                        <li><a href="/TipoAdmR">Tipo Administrativo</a></li>
                        <li><a href="/SedeR">Sede</a></li>
                        <li><a href="/DireccionFunR">Dirección Funcional</a></li>
                        <li><a href="/UnidadFunR">Unidad Funcional</a></li>
                     
                    </ul>
                </li>
                -->
             
                <li >
                    <a href="/UsuarioR" class="waves-effect">
                        <i class="dripicons-user"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li >
                    <a href="/ProyectoR" class="waves-effect">
                        <i class="dripicons-user"></i>
                        <span>Proyectos</span>
                    </a>
                </li>

                <li >
                    <a href="/CriterioR" class="waves-effect">
                        <i class="dripicons-user"></i>
                        <span>Criterios</span>
                    </a>
                </li>

                <li >
                    <a href="/ProyectosEvaluacionR" class="waves-effect">
                        <i class="dripicons-user"></i>
                        <span>Evaluación</span>
                    </a>
                </li>
                <li >
                    <a href="/FormReportes" class="waves-effect">
                        <i class="dripicons-briefcase"></i>
                        <span>Reportes</span>
                    </a>
                </li>
           

         



                

            </ul>
        </div>
        <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->