<div class="card">
    <div class="card-header d-flex justify-content-lg-between">
        <h5>Registro categoria participante</h5>
        <button type="button" class="btn btn-primary btn-registrar-categoria-participante">
            <i class="fa-solid fa-user-plus"></i> Agregar nuevo
        </button>
    </div><br>

    <div class="card-datatable table-responsive pt-0">
        <table class="table table-hover" id="data-table-categoria-participante">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th style="width: 160px;">Opciones</th>
                </tr>
            </thead>
            <tbody class="animate__animated animate__bounceInDown">
                <tr th:each="catpar, idx : ${listarCategoriaParticipante}" th:if="${catpar.estado != 'X'}">
                    <td th:text="${idx.index + 1}">1</td>
                    <td th:text="${catpar.nombre}">Nombre</td>
                    <td th:text="${catpar.descripcion}">v1</td>

                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-primary btn-editar-categoria-participante"
                                th:attr="data-id=${catpar.idCategoriaParticiapnte}">
                                <i class="fa-solid fa-pen-to-square me-1"></i> Editar
                            </button>
                            <button type="button" class="btn btn-danger btn-eliminar-categoria-participante"
                                th:attr="data-id=${catpar.idCategoriaParticiapnte}, data-nombre=${catpar.nombre}">
                                <i class="fa-solid fa-trash me-1"></i> Eliminar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#data-table-categoria-participante').DataTable({
        language: {
            sProcessing: "Procesando...",
            sLengthMenu: "Mostrar _MENU_ registros",
            sZeroRecords: "No se encontraron resultados",
            sInfo: "Mostrando _START_ a _END_ de _TOTAL_",
            sInfoEmpty: "Mostrando 0 a 0 de 0",
            sInfoFiltered: "(filtrado de _MAX_ registros)",
            sSearch: "Buscar:",
            oPaginate: { sFirst: "Primero", sLast: "Último", sNext: "Siguiente", sPrevious: "Anterior" },
            oAria: { sSortAscending: ": Orden ascendente", sSortDescending: ": Orden descendente" }
        }
    });
</script>