<!DOCTYPE html>
<html lang="en">

<head th:replace="~{layout/head :: head}">
    <style>
        .button-container {
      display: flex;
      align-items: center;
    }
    
    button {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    button:hover {
      background-color: #0056b3;
    }
    
    .spinner {
      border: 4px solid rgba(255, 255, 255, 0.3);
      border-top: 4px solid #007bff;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      animation: spin 2s linear infinite;
      margin-left: 10px;
      display: none; /* Por defecto, ocultar el spinner */
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    </style>
</head>

<body class="fixed-left">
    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="~{layout/sidebar :: sidebar}">
        </div>
        <!-- Left Sidebar End -->
        <!-- Start right Content here -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <!-- Top Bar Start -->
                <div th:replace="~{layout/topbar :: topbar}">
                </div>
                <!-- Top Bar End -->
                <!-- INICIO CONTENIDO -->
                <div class="page-content-wrapper ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div style="display: flex; justify-content: space-between; background-color: #f2f2f2; padding: 10px;">
                                    <a class="btn btn-primary"  type="submit" href="/ProyectosEvaluacionR">Volver</a>
                                    <!-- <a class="btn btn-warning" type="button" target="_blank" th:href="${'../../../../openFileProyectoN/' + proyecto.id_proyecto}" >Ver Documento</a> -->
                                  </div>
                            </div>
                        </div>
                        <!-- INICIO FORMULARIO -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <form id="myForm" th:action="@{/GuardarEvaluacionE}" method="post">

                                            <input type="hidden" name="proyectos" th:value="${proyecto.id_proyecto}">
                                            <input type="hidden" th:field="${evaluacion.id_evaluacion}">

                                            <table
                                                style="border: 1px solid black; width: 100%; margin-left: auto; margin-right: auto;">
                                                <tr>
                                                    <td colspan="4"
                                                        style="border-bottom: 1px solid black; text-align: center; background-color: #1B40A6; color: white; padding: 5px; font-family: Verdana, sans-serif;">
                                                        FORMULARIO DE EVALUACIÓN </td>
                                                </tr>

                                                <tr th:if="${proyecto.programa != null}">
                                                    <td width="25%"
                                                        style="border: 1px solid black; border-right: none; background-color: #1B40A6; color: white; padding: 5px; font-family: Verdana, sans-serif;">
                                                        PROGRAMA:</td>
                                                    <td colspan="3" style="border: 1px solid black; padding: 5px;"
                                                        th:text="${proyecto.programa.nombre_programa}">Columna 2</td>
                                                </tr>

                                                <tr >
                                                    <td width="25%"
                                                        style="border: 1px solid black; border-right: none; background-color: #1B40A6; color: white; padding: 5px; font-family: Verdana, sans-serif;">
                                                        ÁREA DE  :</td>
                                                    <td colspan="3" style="border: 1px solid black;"
                                                        th:text="${proyecto.categoria_proyecto}"></td>
                                                </tr>
                                                <tr>
                                                    <td
                                                        style="border: 1px solid black; border-right: none; background-color: #1B40A6; color: white; padding: 5px; font-family: Verdana, sans-serif;">
                                                        NOMBRE DE TEMA DE EXPOSICIÓN :</td>
                                                    <td colspan="3" style="border: 1px solid black;"
                                                        th:text="${proyecto.nombre_proyecto}"></td>
                                                </tr>

                                                <tr>
                                                    <td
                                                        style="border: 1px solid black; border-right: none; background-color: #1B40A6; color: white; padding: 5px; font-family: Verdana, sans-serif;">
                                                        CURSO :
                                                    </td>
                                                    <td colspan="3" style="border: 1px solid black;"
                                                        th:text="${proyecto.nro_stand}">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td
                                                        style="border: 1px solid black; border-right: none; background-color: #1B40A6; color: white; padding: 5px; font-family: Verdana, sans-serif;">
                                                        CAPACITADOR :
                                                    </td>
                                                    <td colspan="3" style="border: 1px solid black;"
                                                        th:text="${proyecto.docente.persona.nombres}+' '+${proyecto.docente.persona.paterno}+' '+${proyecto.docente.persona.materno}">
                                                    </td>
                                                </tr>
                                               
                                            </table>

                                            <p></p>

                                            <table
                                                style="border: 1px solid black; width: 100%; margin-left: auto; margin-right: auto;">

                                                <tr>
                                                    <td colspan="4"
                                                        style="border-top: 1px solid black; text-align: center; background-color: #1B40A6; color: white; padding: 5px; font-family: Verdana, sans-serif;">
                                                        CRITERIOS
                                                        DE EVALUACIÓN</td>
                                                </tr>

                                                <!-- <tr>
                                                    <td style="border-top: 1px; font-weight: bold; font-size: larger; padding-left: 380px; text-align: center;"> R=Regular; B=Bien; E=Excelente </td>
                                                 
                                                </tr> -->
                                                <th:block th:each="c : ${criterios}" >
                                                    <tr>
                                                        <td style="border: 1px solid black; background-color: #D3D8E5; padding: 5px;" th:text="${c.nombre_cat_criterio}">
                                                            I. Originalidad y Creatividad (30 PUNTOS)
                                                        </td>
                                                        <td style="border: 1px solid black; text-align: center; background-color: #D3D8E5; padding: 5px;">
                                                            PUNTAJE MAX</td>
                                                        <td style="border: 1px solid black; text-align: center; background-color: #D3D8E5; padding: 5px;">
                                                            PUNTAJE</td>
                                                        <!-- <td style="border: 1px solid black; text-align: center; background-color: #D3D8E5; padding: 5px;">
                                                            E</td> -->
                                                    </tr>
                                                    <!-- <tr>
                                                        <td style="border: 1px solid black; text-align: center; padding: 5px;"  >
                                                            R=5; B=8; E=10
                                                        </td>
                                                        <td style="border: 1px solid black; text-align: center; padding: 5px;">
                                                            5</td>
                                                        <td style="border: 1px solid black; text-align: center; padding: 5px;">
                                                            8</td>
                                                        <td style="border: 1px solid black; text-align: center; padding: 5px;">
                                                            10</td>
                                                    </tr> -->
                                                    <th:block th:each="p : ${c.preguntas}">
                                                        <tr> 
                                                            <td style="border: 1px solid black; padding: 5px;" th:text="${p.nom_pregunta}"></td>
                                                            <th:block th:each="pon : ${p.ponderaciones}" >
                                                                <td width="5%" style="border: 1px solid black; text-align: center; padding: 5px;">
                                                                    <input type="hidden" name="id_ponderaciones" th:value="${pon.id_ponderacion}">
                                                                    <label  th:for="${'checkbox' + pon.id_ponderacion}"
                                                                        th:text="${pon.ponderacion}"></label>
                                                                
                                                                </td>
                                                                <td  width="5%" style="border: 1px solid black; text-align: center; padding: 5px;">
                                                                    <input type="number" class="form-control" th:name="${'criterios'}" value="0" th:min="${0}" th:max="${pon.ponderacion}" required >
                                                                    <!-- <input class="form-control" type="number" value="" th:min="${0}" th:max="${pon.ponderacion}" id="example-number-input"> -->
                                                                </td>
                                                            </th:block>
                                                        </tr>
                                                    </th:block>
                                                    <tr>
                                                        <td style="color: white;">d</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </th:block>
                                                
                                                <tr>
                                                    <td style="border: 1px solid black;  text-align: right; padding: 5px;">
                                                        Puntaje Total
                                                    </td>
                                                    <td colspan="3" style="border: 1px solid black; text-align: center; padding: 5px;">
                                                        <div id="resultado"></div>
                                                    </td>
                                                </tr>

                                            </table>
                                            <br>
                                            <div class="button-container text-center">
                                                <div id="Dsubmit">
                                                    <button class="btn btn-primary" type="submit" th:text="${edit} ?'Actualizar' :'Enviar'"></button>
                                                </div>
                                            </div>
                                        </form>


                                        <div class="modal fade" tabindex="-1" id="ModalEvaluacion" role="dialog"
                                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
        
                                                <div>
        
        
                                                    <iframe width="800" height="800" id="iframe-pdf" frameborder="0"
                                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- FIN INICIO FORMULARIO -->

                    </div><!-- container fluid -->

                </div>
                <!-- FIN INICIO CONTENIDO -->

            </div>
            <!-- content -->

            <footer th:replace="~{layout/footer :: footer}">
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->

    <div th:replace="~{layout/script :: script}">
    </div>

    <script type="text/javascript">
        function renombrar(id_archivo_adjunto) {
            var id_a = id_archivo_adjunto;

            //alert(id_archivo_adjunto);

            $("#ModalEvaluacion").modal("show");

            $("#id_a").val(id_a);

            $("#iframe-pdf").attr("src", `/openFileProyecto/${id_a}`)

        }
    </script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var inputs = document.querySelectorAll("input[type='number']");
        inputs.forEach(function(input) {
            input.addEventListener("input", calcularPuntajeTotal);
        });

        function calcularPuntajeTotal() {
            var puntajeTotal = 0;
            inputs.forEach(function(input) {
                var valor = parseFloat(input.value) || 0;
                puntajeTotal += valor;
            });

            // Redondear el resultado a un decimal
            puntajeTotal = puntajeTotal.toFixed(1);

            document.getElementById("resultado").textContent = puntajeTotal;
        }

        // Usar un temporizador para verificar los valores de TouchSpin
        setInterval(function() {
            calcularPuntajeTotal();
        }, 500); // Verificar cada segundo (ajusta según sea necesario)
    });
</script>
 <script>
    $(document).ready(function () {
        $('#miFormulario').submit(function (event) {
          event.preventDefault();
          var form = document.getElementById("miFormulario");
    
        $('#Dsubmit').html('');
        var botonCarga =  
        '<br>'+
        '<div class="spinner"></div>';
    
        $('#Dsubmit').html(botonCarga);
      
        form.submit();
       
        });
      });
    
    </script>
</body>

</html>