<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/head :: head">
</head>


<body class="fixed-left">

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <div th:replace="layout/sidebar :: sidebar">
        </div>
        <!-- Left Sidebar End -->

        <!-- Start right Content here -->

        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                <!-- Top Bar Start -->
                <div th:replace="layout/topbar :: topbar">
                </div>
                <!-- Top Bar End -->

                <!-- INICIO CONTENIDO -->
                <div class="page-content-wrapper ">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="float-right page-breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#">Drixo</a></li>
                                        <li class="breadcrumb-item"><a href="#">Forms</a></li>
                                        <li class="breadcrumb-item active">Form Validation</li>
                                    </ol>
                                </div>
                                <h5 class="page-title">Form Validation</h5>
                            </div>
                        </div>
                        <!-- end row -->

                        <!-- INICIO FORMULARIO -->
                        <!--
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card m-b-30">
                                    <div class="card-body">

                                        <h1 class="mt-0 header-title" style="font-size: 30px;">Formulario de Registro Proyecto
                                        </h1>
                               

                                        <form th:action="${edit} ?@{/ProyectoModF} :@{/ProyectoF}" method="post">
                                            <input type="hidden" th:field="${proyecto.id_proyecto}">
                                            <div class="row">


                                                <div class="col-md-4">
                                                    <label class="col-form-label">Titulo Proyecto</label>
                                                    <input class="form-control" type="text" th:field="${proyecto.nombre_proyecto}"
                                                        required>
                                                </div>

                                                <div class="col-md-3">
                                                    <label class="col-form-label">Docente </label>
                                                    <select class="form-control js-choice"
                                                    th:field="${proyecto.docente}" 
                                                    name="docente">
                                                    <option value="">Seleccione un Docente</option>
                                                    <option th:each="doc : ${docentes}" th:value="${doc.id_docente}"
                                                        th:if="${doc.estado != 'X'}" th:text="${doc.persona.nombres}+' '+${doc.persona.paterno}+' '+${doc.persona.materno}">
                                                    </option>
                                                </select>
            
                                                </div>

                                                <div class="col-md-5">
                                                    <label class="col-form-label">Estudiantes </label>
                                                    <select class="form-control js-choice"
                                                    multiple="multiple" size="3"
                                                data-options='{"removeItemButton":true,"placeholder":true}'
                                                    th:field="${proyecto.estudiante}" 
                                                    name="id_estudiante"  id="id_estudiante">
                                                    <option th:each="est : ${estudiantes}"
                                                    th:value="${est.id_estudiante}" th:if="${est.estado != 'X'}"
                                                    th:text="${est.persona.nombres}+' '+${est.persona.paterno}+' '+${est.persona.materno}">
                                                </option>
                                                </select>
            
                                                </div>
                                          
                                          

                                         
                                            </div>
                                            <br>
                                            <div class="text-center">
                                                <div>
                                                    <button class="btn btn-primary" type="submit"
                                                    th:text="${edit} ?'Actualizar' :'Registrar'"></button>
                                                    <button type="reset" class="btn btn-secondary waves-effect m-l-5">
                                                        Cancelar
                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
                        <!-- FIN INICIO FORMULARIO -->

                        <!-- INICIO FORMULARIO -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body" style="display: flex; justify-content: center;">
                                        <form th:action="@{/GuardarEvaluacionF}" method="post">
                                       
                                        <input type="hidden" name="proyectos" th:value="${proyecto.id_proyecto}">
                                        <input type="hidden"  th:field="${evaluacion.id_evaluacion}">
                                        <table style="border: 1px solid black; width: 95%;">
                                            <tr>
                                                <td colspan="4"
                                                    style="border-bottom: 1px solid black; text-align: center;">
                                                    FORMULARIO DE EVALUACIÓN </td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black; border-right: none;">PROGRAMA:</td>
                                                <td colspan="3" style="border: 1px solid black;"
                                                    th:text="${proyecto.programa.nombre_programa}">Columna 2</td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black; border-right: none;">TÍTULO DE LA
                                                    INVESTIGACIÓN:</td>
                                                <td colspan="3" style="border: 1px solid black;"
                                                    th:text="${proyecto.nombre_proyecto}"></td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black; border-right: none;">DOCENTE ASESOR:
                                                </td>
                                                <td colspan="3" style="border: 1px solid black;"
                                                    th:text="${proyecto.docente.persona.nombres}+' '+${proyecto.docente.persona.paterno}+' '+${proyecto.docente.persona.materno}">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="4"
                                                    style="border-top: 1px solid black; text-align: center;">CRITERIOS
                                                    DE EVALUACIÓN</td>
                                            </tr>
                                         
                                            <tr>
                                                <td style="border: 1px solid black;">Nota: S = Satisfactorio; O =
                                                    Óptimo; E = Excelente</td>
                                                <td style="border: 1px solid black;"></td>
                                                <td style="border: 1px solid black;"></td>
                                                <td style="border: 1px solid black;"></td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black;">I. CONTENIDO Y PRESENTACIÓN (30
                                                    PUNTOS)</td>
                                                <td style="border: 1px solid black; text-align: center;">S</td>
                                                <td style="border: 1px solid black; text-align: center;">O</td>
                                                <td style="border: 1px solid black; text-align: center;">E</td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black; text-align: center;">S = 4 O = 6 E =
                                                    10</td>
                                                <td style="border: 1px solid black; text-align: center;">4</td>
                                                <td style="border: 1px solid black; text-align: center;">6</td>
                                                <td style="border: 1px solid black; text-align: center;">10</td>
                                            </tr>
                                          
                                            <tr>
                                                <td style="border: 1px solid black;">1. Innovación (El trabajo introduce
                                                    novedades, o modificación de algo ya existente con el fin de
                                                    mejorarlo).</td>
                                                <td style="border: 1px solid black; text-align: center;">
                                                    <input type="checkbox"  name="criterios" id="checkbox1"
                                                        th:value="${criterio1.id_criterio}"
                                                        th:field="${evaluacion.criterios}">
                                                </td>
                                                <td style="border: 1px solid black; text-align: center;">
                                                    <input type="checkbox" id="checkbox2" name="criterios"
                                                        th:value="${criterio2.id_criterio}"
                                                        th:field="${evaluacion.criterios}">
                                                </td>
                                                <td style="border: 1px solid black; text-align: center;">
                                                    <input type="checkbox" id="checkbox3" name="criterios"
                                                        th:value="${criterio3.id_criterio}"
                                                        th:field="${evaluacion.criterios}">
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid black;">1. Innovación (El trabajo introduce
                                                    novedades, o modificación de algo ya existente con el fin de
                                                    mejorarlo).</td>
                                                <td style="border: 1px solid black; text-align: center;">
                                                    <input type="checkbox" id="checkbox4" name="criterios"
                                                        th:value="${criterio4.id_criterio}"
                                                        th:field="${evaluacion.criterios}">
                                                </td>
                                                <td style="border: 1px solid black; text-align: center;">
                                                    <input type="checkbox" id="checkbox5" name="criterios"
                                                        th:value="${criterio5.id_criterio}"
                                                        th:field="${evaluacion.criterios}">
                                                </td>
                                                <td style="border: 1px solid black; text-align: center;">
                                                    <input type="checkbox" id="checkbox6" name="criterios"
                                                        th:value="${criterio6.id_criterio}"
                                                        th:field="${evaluacion.criterios}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid black;">1. Innovación (El trabajo introduce
                                                    novedades, o modificación de algo ya existente con el fin de
                                                    mejorarlo).</td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox7" name="criterios"
                                                            th:value="${criterio7.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox8" name="criterios"
                                                            th:value="${criterio8.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox9" name="criterios"
                                                            th:value="${criterio9.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                            </tr>
                                            
                                            <tr>
                                                <td style="border: 1px solid black;  text-align: right;" >Sub Total (I)
                                                </td>
                                                <td colspan="3" style="border: 1px solid black; text-align: center;" id="resultado"></td>
                                            </tr>

                                            <tr>
                                                <td style="color: white;">d</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black;">II. EXPOSICIÓN (36 PUNTOS)</td>
                                                <td style="border: 1px solid black; text-align: center;">S</td>
                                                <td style="border: 1px solid black; text-align: center;">O</td>
                                                <td style="border: 1px solid black; text-align: center;">E</td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black; text-align: center;">S = 4 O = 8 E =
                                                    12</td>
                                                <td style="border: 1px solid black; text-align: center;">4</td>
                                                <td style="border: 1px solid black; text-align: center;">8</td>
                                                <td style="border: 1px solid black; text-align: center;">12</td>
                                            </tr>
                                          
                                            <tr>
                                                <td style="border: 1px solid black;">1. Innovación (El trabajo introduce
                                                    novedades, o modificación de algo ya existente con el fin de
                                                    mejorarlo).</td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox10" name="criterios"
                                                            th:value="${criterio10.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox11" name="criterios"
                                                            th:value="${criterio11.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox12" name="criterios"
                                                            th:value="${criterio12.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid black;">1. Innovación (El trabajo introduce
                                                    novedades, o modificación de algo ya existente con el fin de
                                                    mejorarlo).</td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox13" name="criterios"
                                                            th:value="${criterio13.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox14" name="criterios"
                                                            th:value="${criterio14.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox15" name="criterios"
                                                            th:value="${criterio15.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid black;">1. Innovación (El trabajo introduce
                                                    novedades, o modificación de algo ya existente con el fin de
                                                    mejorarlo).</td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox16" name="criterios"
                                                            th:value="${criterio16.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox17" name="criterios"
                                                            th:value="${criterio17.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox18" name="criterios"
                                                            th:value="${criterio18.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid black;  text-align: right;">Sub Total (I)
                                                </td>
                                                <td colspan="3" style="border: 1px solid black; text-align: center;" id="resultado"></td>
                                            </tr>
                                      
                                            <tr>
                                                <td style="border: 1px solid black;">III. DEFENSA (34 PUNTOS)</td>
                                                <td style="border: 1px solid black; text-align: center;">S</td>
                                                <td style="border: 1px solid black; text-align: center;">O</td>
                                                <td style="border: 1px solid black; text-align: center;">E</td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black; text-align: center;">S = 8 O = 12 E
                                                    = 17</td>
                                                <td style="border: 1px solid black; text-align: center;">8</td>
                                                <td style="border: 1px solid black; text-align: center;">12</td>
                                                <td style="border: 1px solid black; text-align: center;">17</td>
                                            </tr>

                                            <tr>
                                                <td style="border: 1px solid black;">1. Innovación (El trabajo introduce
                                                    novedades, o modificación de algo ya existente con el fin de
                                                    mejorarlo).</td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox19" name="criterios"
                                                            th:value="${criterio19.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox20" name="criterios"
                                                            th:value="${criterio20.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox21" name="criterios"
                                                            th:value="${criterio21.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid black;">1. Innovación (El trabajo introduce
                                                    novedades, o modificación de algo ya existente con el fin de
                                                    mejorarlo).</td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox22" name="criterios"
                                                            th:value="${criterio22.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox23" name="criterios"
                                                            th:value="${criterio23.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                                    <td style="border: 1px solid black; text-align: center;">
                                                        <input type="checkbox" id="checkbox24" name="criterios"
                                                            th:value="${criterio24.id_criterio}"
                                                            th:field="${evaluacion.criterios}">
                                                    </td>
                                            </tr>
                                      
                                            <tr>
                                                <td style="border: 1px solid black;  text-align: right;">Sub Total (I)
                                                </td>
                                                <td colspan="3" style="border: 1px solid black; text-align: center;" id="resultado"></td>
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid black;  text-align: right;">Puntaje Total 
                                                </td>
                                                <td colspan="3" style="border: 1px solid black; text-align: center;" id="resultado"></td>
                                            </tr>


                                        </table>
                                     
                                        <br>
                                        <div class="text-center">
                                            <div>
                                                <button class="btn btn-primary" type="submit"
                                                th:text="${edit} ?'Actualizar' :'Enviar'"></button>
                                             
                                            </div>
                                        </div>
                                        </form>




                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- FIN INICIO FORMULARIO -->

                    </div><!-- container fluid -->

                </div>
                <!-- FIN INICIO CONTENIDO -->

            </div>
            <!-- content -->

            <footer th:replace="layout/footer :: footer">
            </footer>

        </div>
        <!-- End Right content here -->

    </div>
    <!-- END wrapper -->

    <div th:replace="layout/script :: script">
    </div>




</body>

</html>