<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>REPORTE DE PROYECTOS</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="ThemeDesign" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="../../../../assets/images/favicon.ico">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="../../../../assets/plugins/morris/morris.css">

    <!-- DataTables -->
    <link href="../../../../assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="../../../../assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Responsive datatable examples -->
    <link href="../../../../assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="../../../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../../../assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="../../../../assets/css/style.css" rel="stylesheet" type="text/css">

    <!--ESTILO PARA SELECT BUSCADOR-->
    <link href="../../../../vendors/choices/choices.min.css" rel="stylesheet">

       <link rel="stylesheet" type="text/css" href="../../../../assets/css/sweetalert2.min.css">
</head>


<body class="fixed-left">

    <!-- Loader -->
    <div id="preloader">
        <div id="status">
            <div class="spinner"></div>
        </div>
    </div>
    <div id="wrapper">
        <div th:replace="layout/sidebar :: sidebar">
        </div>
        <div class="content-page">
            <div class="content">
                <div th:replace="layout/topbar :: topbar"></div>
                <div class="page-content-wrapper ">
                    <div class="container-fluid">
                        <hr>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <h1 class="mt-0 header-title" style="font-size: 30px;">Formulario de reportes
                                        </h1>
                                        <form th:action="@{/ReporteProyecoctoOne}" method="get" target="_blank">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="col-form-label">Proyectos </label>
                                                    <select class="form-control js-choice" name="id_proyecto">
                                                    <option value="">Seleccione un proyecto</option>
                                                    <option th:each="pro : ${proyectos}" th:if="${pro.estado == 'E' && pro.estado != 'X'} " 
                                                    th:value="${pro.id_proyecto}" th:text="${pro.nombre_proyecto}">
                                                    </option>
                                                </select>            
                                                </div>                                          
                                            </div>
                                            <br>
                                            <div class="text-center">
                                                <div>
                                                    <button class="btn btn-primary" type="submit" >Generar</button>
                                                  
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title">LISTA DE PROYECTOS EVALUADOS</h4>
                                        <table id="example1" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                            <tr>
                                                <th>PROGRAMA</th>
                                                <th>PROYECTO</th>
                                                <th>NOTA</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="pro : ${proyectos}" th:if="${pro.evaluacion.size()>=1} and ${pro.estado != 'X'}">
                                                    <td width="18%" th:if="${pro.programa != null}" th:text="${pro.programa.nombre_programa}"></td>
                                                    <td width="18%" th:if="${pro.programa == null}" th:text="${'SIN PROGRAMA'}"></td>
                                                    <td width="77%" th:text="${pro.nombre_proyecto}"></td>
                                                    <td width="5%" th:text="${pro.promedio_final}"></td>
                                                </tr>
                                            
                                            </tbody>
                                        </table>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="layout/footer :: footer">
            </footer>
        </div>
    </div>
    <div th:replace="layout/script :: script">
    </div>
    <script>
        $(function() {
            $("#example1").DataTable({
                "responsive" : true,
                "lengthChange" : false,
                "autoWidth" : false,
                "buttons" : [ "copy", "csv", "excel", "pdf", "print" ]
            //, "colvis"
            }).buttons().container().appendTo(
                    '#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
</body>

</html>