<div class="card">
    <div class="card-header d-flex justify-content-lg-between">
        <h5>Registro rubrica-criterio</h5>
        <button type="button" class="btn btn-primary btn-registrar-rubrica-criterio">
            <i class="fa-solid fa-user-plus"></i> Agregar nuevo
        </button>
    </div>

    <div class="card-datatable table-responsive pt-0">
        <table class="table table-hover" id="data-table-rubrica-criterio">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Rubrica</th>
                    <th>nombre criterio</th>
                    <th>Porcentaje</th>
                    <th>Descripcion</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody class="animate__animated animate__bounceInDown">
                <tr th:each="rubCri, idx : ${listarRubricaCriterios}" th:if="${rubCri.estado != 'X'}">
                    <td th:text="${idx.index + 1}"></td>
                    <td th:text="${rubCri.rubrica.nombre}"></td>
                    <td th:text="${rubCri.nombre}"></td>
                    <td th:text="${rubCri.porcentaje}"></td>
                    <td th:text="${rubCri.descripcion}"></td>
                    <td>
                        <button type="button" class="btn btn-sm btn-primary btn-editar-rubrica-criterio"
                            th:attr="data-id=${rubCri.idRubricaCriterio}">
                            <i class="fa-solid fa-pen-to-square"></i> Editar
                        </button>
                        <button type="button" class="btn btn-sm btn-danger btn-eliminar-rubrica-criterio"
                            th:attr="data-id=${rubCri.idRubricaCriterio}, data-nombre=${rubCri.nombre}">
                            <i class="fa-solid fa-trash"></i> Eliminar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#data-table-rubrica-criterio').DataTable({
        language: {
            sProcessing: "Procesando...",
            sLengthMenu: "Mostrar _MENU_ registros",
            sZeroRecords: "No se encontraron resultados",
            sInfo: "Mostrando _START_ a _END_ de _TOTAL_",
            sInfoEmpty: "Mostrando 0 a 0 de 0",
            sInfoFiltered: "(filtrado de _MAX_ registros)",
            sSearch: "Buscar:",
            oPaginate: { sFirst: "Primero", sLast: "Último", sNext: "Siguiente", sPrevious: "Anterior" },
            oAria: { sSortAscending: ": Orden ascendente", sSortDescending: ": Orden descendente" }
        }
    });
</script>